.wrapper, .wrapper-wide {
    padding: 20px;
}

.wrapper {
    max-width: 550px;
    position: relative;
}

.wrapper-wide {
    max-width: 700px;
}

.preload {
    opacity: 1;
    transition: opacity 0.25s;

    &.unloaded {
        opacity: 0.25;
    }
}

.input {
    border: 1px solid #e6e6e6;
    border-radius: 20px;
    outline: none;
    height: 36px;
    padding: 0 122px 0 12px;
    width: calc(100% - 134px);
    transition: border-color 0.15s;

    &:hover, &:focus {
        border-color: #c6c6c6;
    }       
}

.button {
    position: absolute;
    right: -1px;
    top: 1px;
    margin: 20px;
    height: 36px;
    border: 0;
    background-color: #d9ba77;
    outline: 0;
    border-radius: 0 20px 20px 0;
    width: 110px;
    cursor: pointer;
    font-weight: 600;
    color: #fff;
    font-size: 15px;

    &:hover, &:focus {
        box-shadow: 0px 0px 6px rgba(166, 166, 166, 0.5);
    }
}

.search-landing {
    height: 100%;
    display: table;
    width: 100%;
    text-align: center;

    form {
        display: table-cell;
        vertical-align: middle;

        .wrapper {
            margin: 0 auto;
            max-width: 400px;
        }
    }
}

.search-list {
    height: 100%;

    .input-wrapper {
        border-bottom: 1px solid #e6e6e6;
        margin-bottom: 10px;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        background: #fff;
        box-shadow: 0px 1px 5px rgba(166,166,166,0.5);
        z-index: 1;
    }

    .search-counter {
        margin-bottom: 20px;
        color: #c6c6c6;
        font-style: italic;
        font-size: 13px;
    }

    .search-results {
        margin-top: 80px;
        overflow-y: auto;
        height: 100%;

        &:after {
            content: '';
            height: 80px;
            display: block;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                margin-bottom: 20px;

                > img {
                    height: 20px;
                    vertical-align: middle;
                    margin-right: 4px;
                }

                a {
                    font-size: 18px;
                    text-decoration: none;
                    vertical-align: middle;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                .rating {
                    display: inline-block;
                    top: 2px;
                    padding-left: 7px;
                    position: relative;
                    color: #999;
                }

                .description {
                    max-height: 65px;
                    overflow: hidden;
                }

                .dateFrom {
                    font-size: 0.9em;
                    color: #999;
                }
            }
        }
    }
}

@media (max-width: 700px) {
    .wrapper, .wrapper-wide {
        padding: 10px;
    }

    .button {
        margin: 10px;
    }

    .search-list {
        .input-wrapper {
            border-bottom: none;
            border-top: 1px solid #e6e6e6;
            margin-bottom: 0;
            margin-top: 10px;
            top: inherit;
            bottom: 0;
            box-shadow: 0px -1px 5px rgba(166,166,166,0.5);
        }

        .search-counter {
            font-size: 12px;
            margin-bottom: 10px;
        }

        .search-results {
            margin-top: 0;
            margin-bottom: 55px;

            &:after {
                height: 55px;
            }            

            ul {
                li {
                    margin-bottom: 15px;

                    a {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}